# Kunskapskontroll 1
The exercises are connected to the video available at: https://www.youtube.com/watch?v=M7bnYJyCx0Q from 0:00 to 1:02:20.

When writing the solutions make sure the code is clear and readable. When providing comments, follow the general principle that you should comment "why" you are doing something and not "what", the "what" is seen by the code itself. 

You should write the code yourself but just as in reality you should discuss and cooperate with class-colleagues, this is the group part of the assignment.

### Add and multiply the two numbers below.

In [ ]:
nr1 = 5
nr2 = 10

# Lists

### Extract the first and last element in the list.

In [ ]:
l = [1, 2, 3, 10, 15, 100]

### Check if the first and last number is the same in each list respectively. So, we expect the answer True in list_1 and False in list_2.

In [ ]:
list_1 = [10, 20, 30, 40, 10]
list_2 = [75, 65, 35, 75, 30]

### Replace the number 4567 in the list with the number 22.

In [ ]:
replace_4567 = [100, 2, 4567, 5, 7]

### Replace the two numbers 3 and 4 with 30 and 40 in one line of code  by using slicing.

In [ ]:
replace_two_numbers = [1, 2, 3, 4, 5]

### Print out the list below but in reverse order.

In [ ]:
my_list = [1, 2, 3, 10, 15, 100]

### Extract the following numbers with indexing or slicing:
* The number 5 in the list within the list. 
* Extract the whole list [10, 12, 13, 5, 100].
* Extract 12, 13, 5 in the list within the list
* Extract the number 8888 with negative indexing.
* Extract 1, 2, [10, 12, 13, 5, 100].

In [ ]:
list_containing_a_list = [1, 2, [10, 12, 13, 5, 100], 8888, 3, [1, 2, 3]]

### Append the empty list with the number 10 and the string 'Hello'. You should use the append method twice.

In [ ]:
empty_list_1 = []

### Append the empty list with the number 10 and the string 'Hello'. You should use the extend method once.

In [ ]:
empty_list_2 = []

### Use list comprehension to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included.

In [ ]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Concatenate the two lists below elementwise so you get a new list ['My', 'name', 'is', 'Antonio']. Hint: use the zip function. 
Expected output: ["My", "name", "is", "Antonio"].

In [ ]:
list1 = ["M", "na", "i", "Anto"]
list2 = ["y", "me", "s", "nio"]

# Tuples

### Unpack the tuple so that we get 4 new variables.

In [ ]:
my_tuple = (10, 20, 30, 40)

### Explain with your own words what the code below containing two scenarios does.

In [ ]:
def f(x): 
    return (x, x**2, x**3, x**4)

# Scenario 1.
x1, x2, x3, x4 = f(2)
print(x1)
print(x2)
print(x3)
print(x4)

print()

# Scenario 2.
x = f(3)
print(x)

### Count the number of times 24 occurs in the tupple.

In [ ]:
tuple_22 = 24, 2, 4, 24, 24, 5

### Swap the two tuples, i.e. t1 should be replaced by t2 and vice versa.

In [ ]:
t1 = ('Python', 'MATLAB')
t2 = ('R', 'Julia')

# Dictionaries

### We have two lists, use both of them to convert it to a dictionary. l1 should be the keys whereas l2 should be the values. Hint, use the zip function.

In [ ]:
l1 = [1, 2, 3]
l2 = ['Python', 'C++', 'Java']

### Print out the value corresponding to the key "1".

In [ ]:
dictionary = {0: 'Easy', 1: 'as', 2: 'ABC'}

### Explain with your own words what the code does.

In [ ]:
def y(x):
  y0 = x
  y1 = x**2
  y2 = x**3

  return {'y0': y0, 'y1': y1 ,'y2': y2}

In [ ]:
y(2)['y1']

# Sets

### Create a set named my_set containing the items: Python, R, MATLAB, Julia, SAS, C.

### Find all elements that are in atleast one of the sets.

In [ ]:
set_a = {1, 2, 99}
set_b = {0, 100, 15, 765}

### Find all the items that are in *both* lists and return those values in a list.

In [ ]:
l1 = ['Python', 'R', 'MATLAB', 'Julia']
l2 = ['Python', 'Julia']

### Find all the unique elements of the list.

In [ ]:
l = [1, 1, 2, 2, 3, 1, 2]

### Find all the elements that are in set_1 but not in set_2.

In [ ]:
set_1 = {1, 2, 3, 4, 5, 6}
set_2 = set([1, 3, 4])

# Iteration & Loops

### Print out all the elements in the list "looping_list" with a for loop.

In [ ]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

### Print out all the elements in the list "looping_list" and enumerate the iteration number.

In [ ]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

### Write a for loop to print out each letter in the string.

In [ ]:
for_string = 'Python!'

### Write a while loop to print out each letter in the string.

In [ ]:
while_string = 'Is Awesome!'

### Print the numbers 1, 2, ..., 10 with a while loop.

### Print out all numbers that are divisible by 5 in the list "numbers". 
Hint: Use the modulo operator %. A number is divisible by 5 if the remainder after dividing by 5 is 0.

In [ ]:
numbers = [10, 20, 34, 46, 55]

### Print the numbers 0, 5, 10, 15, 20 with a for-loop and using the range function.

### Use a for loop to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included. (In general it is better to do this with list comprehension since it is more efficient but this is for exercise purpose.)

In [ ]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Functions

### Create a function "uppercase_converter" that converts a string to uppercase. For example: uppercase_converter('hello') should return the value HELLO.

### Create a function that accepts two arguments and that returns the sum and subtraction of the numbers.

### Create  a function that contains positional only, positional or keyword and finally keyword arguments only. Hint:
**def f(pos_only_1, /, pos_or_kwd, *, kwd_only_1)** .

### Assign a different name to the function and call it through the new name.

In [ ]:
def my_sum_function(x1, x2):
    return x1 + x2

my_sum_function(1,2)

### Write a function f that takes three arguments. The first two are numbers whereas the third is specifying wheter you want to multiply or add them. 
Example: 

f(2, 5, 'add') = 7

f(2, 5, 'multiply') = 10

f(2, 5, 'test') should return an error (raise an exception) and print out the message: Choose either "add" or "multiply" .

### Run the program below and explain what it does.

In [ ]:
name = input('What is your name dear stranger?')

print('Mom, I met a person whos name is:', name)

# General Exercises

### Check if the strings below is a palindrome meaning that if you reverse the string it is the same. 
Example: anna reversed is still anna meaning it is a palindrome. john reversed is nhoj meaning it is not a palindrome.

In [ ]:
string_1 = 'anna'
string_2 = 'john'

### Explain, with your own words, the difference between the two code blocks below. When would you prefer the respective method? Can you create two own examples when each method might be useful?
A good link: https://stackoverflow.com/questions/9271712/difference-between-multiple-ifs-and-elifs .

In [ ]:
number = 8

In [ ]:
if number < 5:
    print('Less than 5')
if number < 10:
    print('Less than 10')
if number < 100:
    print('Less than 100')

In [ ]:
if number < 5:
    print('Less than 5')
elif number < 10:
    print('Less than 10')
elif number < 100:
    print('Less than 100')

# Read PEP8 available at: https://peps.python.org/pep-0008/ . Give a short summary of some things that you should have in your "fingertips". For example, how should variables be named? How should you write a comment?

# Ofcourse, the code you write here and henceforth should to highest possible extent follow the guidelines in PEP8.

# Classes
The exercises are connected to the video available at: https://www.youtube.com/watch?v=M7bnYJyCx0Q from 1:02:20 to 1:14:59.

When writing the solutions make sure the code is clear and readable. When providing comments, follow the general principle that you should comment "why" you are doing something and not "what", the "what" is seen by the code itself.

### Create a class "GroceryStore" with price and quantity instance attributes and then create a new instance swedish_apples whos price is 30 and quantity is 900. Once the instance is created, print out the two attributes.

### Create a child class "Subsidiarie" that will inherit all of the variables and methods of the "GroceryStore" class. Then create a new instance grapes whos price is 50 and quantity is 600. Finally, print out the two  attributes.
Hint: Use the keyword "pass" when creating the class Subsidiarie.

### Create a child class "Competitor" that will inherit all of the variables and methods of the "GroceryStore" class. The class should have a class variable called store_name = competitor_grocery_store. Create an instance danish_apples whos price is 28 and quantity 920. Print out both the instance variables (price and quantity) and the class variable store_name.

### Create a class "GroceryStore_v2" with price and quantity instance attributes and a class attribute called owner with the value "Anna" assigned to it. Add a method, customer_satisfaction that adds an instance attribute called "grade"  that can take values between 1-10, how do you make sure that the grade is between 1-10? Ideally, an exception is raised if grade is outside the allowed boundaries. The class should have a one line documentation string. 

### Create an instance "lemons" with price = 60, quantity = 100. Add a customer_satisfaction_grade that is 8.

### Check the type of the lemons instance.

### Check if lemons is an instance of the integer class (it should return False since lemons is an instance of GroceryStore_v2). Check if lemons is an instance of the GroceryStore_v2 class (should return True).

### Print out the documentation string.

### Create a class Square whos instances has the attribute side_length. Add two methods, perimeter and area that calculates the perimeter and area respectively given the length of one side which is the only attribute that the class has. Create an instance my_square with the side length 8. Print out the perimeter and area of "my_square".

## Explain, in detail, with your own words what the "DescriptiveStatistics" class does.

In [ ]:
class DescriptiveStatistics():
    """This class provides functionality for calculating descriptive statistics from a list."""
    
    def __init__(self):
        self.data = []
    
    def add_data(self, data):
        if isinstance(data, list):
            self.data.extend(data)
        else:
            raise Exception('Only "Lists" are accepted as data.')
            
    def calc_sum(self):
        return sum(self.data)
    
    def calc_nbr_of_elements(self):
        return len(self.data)
    
    def calc_mean(self):
        return (self.calc_sum())/(self.calc_nbr_of_elements())
    
    def print_summary(self):
        print('Sum:', self.calc_sum())
        print('Number of elements:', self.calc_nbr_of_elements())
        print('Mean:', self.calc_mean())

In [ ]:
L = [1, 2, 1, 3, 5, 7, 4, 9, 10, 3, 2, 1, 6, 4, 3, 2, 1, 10, 9, 1, 8, 7, 3, 2, 1]
my_data = DescriptiveStatistics()
my_data.add_data(L)

In [ ]:
my_data.data

In [ ]:
print('Sum:', my_data.calc_sum())
print('Number of elements:', my_data.calc_nbr_of_elements())
print('Mean:', my_data.calc_mean())

In [ ]:
my_data.print_summary()

# Exceptions
In the video: https://www.youtube.com/watch?v=M7bnYJyCx0Q from 1:09:18 to 1:14:59 Exceptions is covered. Now you shall explain: 
1. In your own words describe why catching exceptions can be useful.
2. Create an example where you *catch* an exception. 
3. Create a function where you *raise* exceptions for different cases (it can be one or more). Why would you like to raise exceptions?

# Självutvärdering
Besvara nedanstående frågor som en hjälp till reflektion. 

1. Hur har arbetet gått? Vad är du nöjd med och vad kan du förbättra till framöver i kursen? 
2. Vilket betyg anser du att du skall ha och varför? 
3. Något du vill lyfta fram till Antonio?